/* utility */
@import url(//db.onlinewebfonts.com/c/e934b630586ca9b7fe66c99ac1592f4a?family=DIN);

@font-face {font-family: "DIN"; src: url("//db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.eot"); src: url("//db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.woff") format("woff"), url("//db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.svg#DIN") format("svg"); }

:root {
    --black: #000101;
    --gray: #B9B9B9;
    --white: #E4E4E4;
    --yellow: #FF9F00;
    --orange: #C57B00;

    --pad-mobile-lr: 2rem;
    --pad-mobile-tb: 4rem;
    --max-mobile-w: 400px;

    --min-w: 35vw;
    --max-w: calc(var(--min-w) * 2);
}

html {
    font-family: 'DIN', Helvetica, sans-serif;
}

body {
    background-color: var(--black);
    transition: 1s;
}

body.blur > *:not(#header) {
    filter: blur(10px);
  }

body.blur {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    transition: 1s;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--yellow);  
}

h1 {
    color: var(--yellow);
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

.my-btn {
    color: var(--yellow);
    background-color: var(--black);
    border: 5px solid var(--yellow);
    border-radius: 20px;
    padding: 0.5rem 0.6rem;
    width: 40%;
}

.my-btn:active {
    transform: scale(0.9);
}

.more {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.5rem; */
    background-color: transparent;
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.5em;
    border: none;
}

.more i {
    font-size: 2em;
}

header {
    width: 100%;
    padding: 1rem;
    transition: 1s;
    position: fixed;
    top: 0;
    left:0 ;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h3 {
    font-size: 3em;
    color: orange;
    font-weight: bold;
}

nav {
    width: 100%;
    /* position: relative; */
}

.hamb {
    margin-left: auto;
    width: 4rem;
    min-height: 2rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;

    position: relative;
    z-index: 999;
}

.hamb > div {
    width: 100%;
    min-height: .3rem;
    background-color: var(--white);
    transition: 0.5s;
}

.hamb .t, .hamb .b {
    clip-path: inset(0 0 0 0);
}

.hamb .m {
    width: 60%;
    position: relative;
    background-color: transparent;
}

.hamb .m > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .3rem;
    background-color: var(--white);
    transition: 1s;
}

.hamb.anim .t {
    /* width: 60%; */
    clip-path: inset(0 0 0 100%);
}

.hamb.anim .b {
    /* width: 60%; */
    clip-path: inset(0 100% 0 0);
}

.hamb.anim .m{
    width: 70%;
    height: 70%;
}

.hamb.anim .m .x {
    transform: rotate(-45deg);
    background-color: var(--black);
}

.hamb.anim .m .y {
    transform: rotate(45deg);
    background-color: var(--black);
}




.menu {
    opacity: 0;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: -100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 2rem;
    background-color: var(--yellow);
    transition: 0.5s;
    z-index: 998;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}

.menu.show {
    opacity: 1;
    left: 0;
}

.menu li a {
    color: var(--black);
    width: 100%;
    display: block;
    transition: 0.5s;
}

.menu li a:active {
    /* color: red; */
}

/* home */

.main {
    width: 100vw;
}

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 1, 1, 0) 75.52%, #000101 91.67%), url('../img/bk-home.jpg');
    background-size: cover;
    background-position: 80% top;
    position: relative;
    overflow: hidden;
}

.home::after {
    content: '';
    width: 100%;
    height: 20px;
    background: -moz-linear-gradient(top,#ffffff00 0%, #ffffff00 20%, var(--black) 100%);
    background: -webkit-linear-gradient(top,#ffffff00 0%, #ffffff00 20%, var(--black) 100%);
    background: linear-gradient(to bottom,#ffffff00 0%, #ffffff00 20%, var(--black) 100%);
    position: absolute;
    bottom: 0;
}

.home h1 {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    min-height: 70vh;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    position: relative;
}

.home .canva {
    position: absolute;
    bottom: 0;
    left: 0;
}

.home .canva.one {
    mix-blend-mode: hue;
} 

.home .canva.two {
    mix-blend-mode: color-dodge;
} 

.home .canva.tree {
    color: var(--orange);
    opacity: 20%;
} 

.home h1 .jo {
    font-size: 23vw;
}

.home h1 .ma {
    font-size: 18vw;
}

/* player */

.player {
    color: var(--white);
    width: 100%;
}

.wrapper {
    width: 100%;
    padding: var(--pad-mobile-tb) 0;
    max-width: 300px;
    margin: 0 auto;
}

.top-wr {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

/* .details {
    height: 2rem;
} */

.playpause-track {
    background-color: transparent;
    border: none;
}

.fa-pause  {
    color: var(--white);
    font-size: 1.3em;
}

.fa-play {
    color: var(--white);
    font-size: 1.3em;
}

.track-album {
    color: var(--yellow);
}

.free {
    margin-left: auto;
    background-color: var(--black);
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 20px;
    height: 2rem;
    padding: 0 1rem;
    margin-right: 0.2rem;
    font-size: 0.7em;
}

.current-time,
.slash,
.total-duration {
    align-self: flex-end;
    font-size: 0.7em;
}

/* style player sliders chrome*/

.bottom-wr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.slider_container {
    max-width: 80%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}


.bottom-wr input {
    border-radius: 8px;
    height: 4px;
    width: 100%;
    max-width: 400px;
    outline: none; 
    transition: 450ms ease-in;
    accent-color: var(--orange);
  }
  
  input::-webkit-slider-thumb {
    background-color: var(--orange);
    border-radius: 0;
        
    height: 10px;
    width: 10px;
    border-radius: 50%;
    accent-color: var(--orange);
  }

  /* about */

 .about {
    background-color: var(--black);
 }

 .about article {
    padding:var(--pad-mobile-lr) 
            var(--pad-mobile-lr) 
            3rem 
            var(--pad-mobile-lr);
    position: relative;
 }

 .about article h1 {
    padding: var(--pad-mobile-tb) 0 .3em 0;
    text-align: center;
    font-size: 2em;
 }

 .about article p {
    color: var(--white);
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bold;
 }

 .bk-about {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #000101 3.73%, rgba(0, 1, 1, 0.529883) 14.89%, rgba(0, 1, 1, 0.246581) 22.92%, rgba(0, 1, 1, 0.11888) 28.23%, rgba(0, 1, 1, 0) 36.41%, rgba(0, 1, 1, 0) 81.45%, rgba(0, 1, 1, 0.372564) 89.1%, #000101 96.35%), url('../img/bk-about.jpg');
    background-blend-mode: multiply, normal;
    background-position: 75% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: var(--pad-mobile-lr);

 }

 .bk-about h2 {
    font-size: max(6vw) ;
    font-weight: bold;
    line-height: 1.5em;
    color: #b9b9b08a;
 }

 .bk-about p {
    line-height: 1.5em;
    color: #b9b9b08a;
 }

 .pell {
    max-width: 700px;
 }

 /* discografia */

 .disco {
    color: var(--white);
 }

 .disco h1 {
    padding: var(--pad-mobile-tb) 0;
    text-align: center;
 }

 .disco .cards .canva {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;
    max-width: 500px;
    border: white;
 }

 .disco .cards .canva input {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: var(--gray);
    border-radius: 20px;
    cursor: pointer;
 }

 .disco .cards .canva input:checked {
    background-color: var(--yellow);
    
 }

 .disco .wrapper {
    margin: 0 auto;
    max-width: var(--max-mobile-w);
    width: 100%;
    overflow: hidden;
    position: relative;
 }

 .disco .slider {
    position: relative;
    top: 0;
    left: 0;
    width: 400%;
    display: flex;
    transition: 0.5s;
 }

 .disco .cards .my-card {
    padding: var(--pad-mobile-lr);
    align-items: center;

    flex-basis: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    /* transition: 2s; */
 }
 
 .disco .my-card h2 {
    font-size: 3.2em;
    font-weight: bold;
    color: var(--white);
    text-align: center;

 }

 .disco .my-card .year {
    font-size: 1.5em;
 }

 .disco .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
 }

 .disco article {
    overflow: hidden;
    position: relative;
    max-height: 0;
    transition: 1s;
 }

 .disco article.show {
    /* overflow: visible; */
    max-height: 100%;
    transition: 1s;

 }

 .disco article img {
    width: 20%;
    max-width: 70px;
    fill-rule: var(--orange);
    position: absolute;
    filter: opacity(0);
    transition: 2s;
 }

 .disco article.show img {
    transition: .5s;
    filter: opacity(1);

 }

 .disco article img.top {
    top: 0;
    left: 0;
    transform: rotate(180deg);
 }

 .disco article img.bottom {
    right: 0;
    bottom: 0;
 }

 .disco article .content {
    padding: 4rem 0;
    line-height: 30px;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
 }

 .disco h3 {
    font-size: 1.5em;
    font-weight: 400;
 }

 .disco ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1rem;
  }
  .disco ol li {
    counter-increment: my-awesome-counter;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
  }
  .disco ol li::before {
    content: "0" counter(my-awesome-counter);
    font-size: 1.2rem;
    line-height: 1;
  }

  .bk-disco {
    overflow: hidden;
    width: 100%;
    height: 40vh;
    background: linear-gradient(180deg, #000101 0%, rgba(0, 1, 1, 0.524896) 5.19%, rgba(0, 1, 1, 0) 9.91%, rgba(0, 1, 1, 0) 89.15%, rgba(0, 1, 1, 0.511662) 94.52%, #000101 100%), url('../img/bk-disco.JPG');
    background-size: max(700px);
    background-repeat: no-repeat;
    background-position: 100% center;
  }

  .disco .cards .canva input.bk-canva {
    background-color: red !important;
  }

/* gallery */

.gallery {
    padding: var(--pad-mobile-tb) var(--pad-mobile-lr);
    width: 100%;
}

.gallery h1 {
    text-align: center;
    padding: var(--pad-mobile-tb) 0;
}

.gallery img {
    object-fit: cover;
    height: 100%;
}

.flex {
    width: 100%;
    max-height: calc(var(--max-w) + 3rem);
    overflow: hidden;
    position: relative;
    transition: 1s;
}

.flex.border-hide::after {
    content: '';
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(255, 255, 255, 0.69));
}

.flex.show {
    max-height: calc(var(--max-w) * 5 + 6rem);
    transition: 1s;
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0;
    margin: 0 auto;
}

.cont-up {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.cont-left, .cont-right  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.cont-down {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.inner-b {
    min-width: calc(var(--max-w) + 1rem) ;
    min-height: calc(var(--max-w) + 1rem) ;
    background-color: var(--white);
}

.inner-2 {
    min-width: var(--min-w);
    min-height: var(--min-w);
    background-color: var(--white);
}

.inner-3 {
    min-width: var(--min-w);
    min-height: var(--max-w);
    background-color: var(--white);
}

/* tour */

.tour {
    color: var(--white);
}

.tour h1 {
    padding: var(--pad-mobile-tb) 0;
    text-align: center;
}

.dates-container {
    overflow-y: hidden;
    background: linear-gradient(180deg, #000101 69.61%, rgba(0, 1, 1, 0) 100%);
}

.opacity-tour {
    filter:opacity(0.5);
    transform: scale(0.9);
}


.date-container {
    width: 80%;
    max-width: var(--max-mobile-w);
    display: flex;
    flex-direction: column;
    padding: var(--pad-mobile-lr) 0;
    margin: 0 auto;
    transition: 0.2s;
}

/* .date-container:hover {
    transform: scale(1.2);
} */

.cont-top {
    width: 100%;
    height: 3rem;
    /* border: 1px solid var(--white); */
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.cont-top .line-v {
    width: 5px;
    height: 100%;
    background-color: var(--orange);
}

.cont-top .date {
    display: flex;
    align-items: center;
}

.cont-top .date .day {
    font-size: 3em;
    /* font-size: 100vh; */
}

.cont-top .mounth-year {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-top .mounth,
.cont-top .city {
    font-size: 1.4em;
}

.cont-top .year,
.cont-top .event {
    font-size: 0.9em;
}

.cont-top .event {
    color: var(--yellow);
    font-weight: bold;
}

.cont-top .location {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.cont-bottom {
    width: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
}

.cont-bottom button {
    transition: 0.3s;
    width: 60%;
}


.bk-tour {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bk-tour.JPG');
    background-position: 70% center;
    background-size: cover;
}

/* news */

.news {
    width: 100%;
    max-width: var(--max-mobile-w);
    margin: 0 auto;
    padding: var(--pad-mobile-tb) var(--pad-mobile-lr);
}

.news h1 {
    text-align: center;
    padding: var(--pad-mobile-tb) 0;
}

.news article {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.news .content {
    padding-right: 0.2rem;
    max-height: 238px;
    overflow-y: hidden;
}

.news article img {
    width: 40%;
    min-width: 140px;
    max-height: 238px;
}

.news .content h2 {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--yellow);
}

.news .content p {
    line-height: 17px;
    /* or 100% */

    display: flex;
    align-items: center;

    background: linear-gradient(180deg, #B9B9B9 0%, rgba(185, 185, 185, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.news button {
    display: block;
    margin: 0 auto;
    width: 60%;
    transition: 0.3s;
}

.news .line-b {
    margin: 1rem 0;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}

/* store */

.store {
    width: 100%;
    background-image: url('../img/bk-merc.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--pad-mobile-tb) 0;
}

.cont-store {
    width: 100%;
    max-width: var(--max-mobile-w);
    margin: 0 auto;
}

.store h1 {
    text-align: center;
    padding: var(--pad-mobile-tb) 0;
}

.store .slider {
    margin-top: 3rem;
    margin-bottom: 3rem;

    overflow-x: scroll;
    width: calc(100vw - 10px);
    height: calc(100vw - 10px);
    max-width: var(--max-mobile-w);
    max-height: var(--max-mobile-w);
    /* border: 1px solid white; */

    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: var(--pad-mobile-lr);
}

/* width */
.store .slider::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.store .slider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray);
  border-radius: 10px;
}

/* Handle */
.store .slider::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--yellow);
}

.store .slider .merc {
    min-width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(5.75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.store .merc img {
    width: 85%;
}

.store .buttons {
    width: 100%;
    padding: var(--pad-mobile-tb) 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

/* contact */

.cont-contacts {
    width: 100%;
    padding: var(--pad-mobile-tb) var(--pad-mobile-lr);
}

.contacts h1 {
    text-align: center;
    padding-bottom: var(--pad-mobile-tb);
}

.contacts .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: var(--max-mobile-w);
    margin: 0 auto;
}

.contacts .form label {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
}

.contacts .form .input {
    background: linear-gradient(-45deg,var(--yellow) 15px,#000 0); 
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 0.3px solid var(--yellow);
    padding: 1em 0;
    color: var(--white);
}

.contacts .form .input:focus {
     outline: none;
}

.contacts .form .sub {
    align-self: center;
}

.bk-contacts {
    width: 100%;
    height: 60vh;
    background: linear-gradient(180.15deg, #000000 2.78%, rgba(0, 0, 0, 0) 20.6%), url('../img/bk-contact.JPG');
    background-position: 50% center;
    background-size: cover;
}


/* footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: var(--pad-mobile-tb) var(--pad-mobile-lr);
    color: var(--yellow);
}

footer .studio p {
    color: var(--white);
    padding-top: 0.5rem;
}

footer .num,
footer .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    
}

footer .num i,
footer .email i {
    font-size: 2em;
}

footer .num a,
footer .email a {
    color: var(--white);
}

footer .social {
    font-size: 1.5em;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

